html {
    font-family: "mudstone-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
}

img {
    margin-right: 40px;
}

p,a {
    font-family: neulis-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* text-decoration: none; */
}

.content {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 500px;
    height: 280px;
}

/* mobile */
@media (max-width: 500px) {
    .content {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    img {
        margin-right: 0;
    }
}
