:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --saphire: #74c7ec;
    --blue: #89b4fa;
    --lavander: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --primary: var(--mauve);
    --secondary: var(--teal);
    --tertiary: var(--yellow);
    --disabled: ;
    --enabled: ;
    --warning: ;
    --success: ;
    --side-padding-width: 80px;

    --paragraph: 1.25rem;
    --line-size: 2rem;
}

::-moz-selection {
    color: var(--crust);
    background: var(--blue);
}

::selection {
    color: var(--crust);
    background: var(--blue);
}

* {
    color: var(--text);
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-height: 100%;

    font-family: neulis-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    background: var(--base);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;
}

p, a {
    font-size: var(--paragraph);
    line-height: var(--line-size)
}

section {
    padding-top: 80px;
    padding-left: var(--side-padding-width);
    padding-right: var(--side-padding-width);
    padding-bottom: 80px;
}

h1 {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

table {
    background-color: var(--surface0);
    border-radius: 5px;
    font-size: var(--paragraph);
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--surface1);
}

input, button {
    background: var(--surface0);
    color: var(--text);
    border: none;
    padding: 0.4rem;
    border-radius: 5px;
    margin-top: 10px;
    font-size: var(--paragraph);
    font-family: neulis-sans, sans-serif;
    font-weight: 400;
}

form {
    font-size: var(--paragraph);
    font-family: neulis-sans, sans-serif;
    font-weight: 400;
}

.navbar {
    position:fixed;
    
    width: 100%;
    height: 80px;

    display: flex;
    overflow: hidden;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding-top: 7px;
    padding-left: var(--side-padding-width);
    padding-right: var(--side-padding-width);

    background: none;

    border-bottom: 1px solid transparent;
    left: 0;

    transition: background 0.5s, border-bottom 0.5s, height 0.5s;
}

.hamburger-menu-button {
    display: none;
    cursor: pointer;
}

.hamburger-exit-button {
    text-align: right;
    cursor: pointer;
}

.hamburger-menu-navbar {
    display: flex;
    align-items: center;
}

.hamburger-menu-navbar div {
    flex: 1;
}

.hamburger-menu {
    height: 100%;
    width: 30rem;
    background: var(--mantle);
    border-left: 1px solid var(--surface0);
    /* padding-top: 80px; */
    padding: 2rem;

    position: fixed;
    top: 0;
    right: -30rem;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5rem;
    /* z-index: 3; */
    transition: right 0.3s;
}

.hamburger-menu.active {
    display: flex;
    right: 0;
    transition: right 0.3s;
}

.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--crust);
    opacity: 0.5;
    display: none;
}

.dimmer.active {
    display: block;
}

.navbar-left, .navbar-right {
    /* border: cyan 1px solid; */
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    align-content: stretch;
    gap: 50px;
}

.navbar-right {
    flex: 1;
    justify-content: flex-end;
}

.navbar-link, .hamburger-link {
    font-size: var(--paragraph);
    text-decoration: none;
    font-weight: 600;
}

.scrolled {
    height: 60px;
    background: var(--mantle);
    border-bottom: 1px solid var(--surface0);
    color: var(--text);
    transition: background 0.1s, border-bottom 0.5s, height 0.5s;
}

.footer {
    margin-top: 1rem;
    text-align: center;
}

.special {
    font-family: neulis-cursive, neulis-sans;
    font-weight: 700;
}

.display-title {
    background-color: var(--lavander);
    background-image:
    radial-gradient(at 92% 21%, var(--base) 0px, transparent 80%),
    radial-gradient(at 18% 21%, var(--base) 0px, transparent 80%),
    radial-gradient(at 52% 68%, hsla(349,83%,63%,1) 0px, transparent 50%),
    radial-gradient(at 12% 3%, hsla(247,73%,60%,1) 0px, transparent 50%),
    radial-gradient(at 93% 20%, var(--base) 0px, transparent 80%),
    radial-gradient(at 74% 97%, hsla(247,73%,60%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(113, 97, 233) 0px, transparent 50%),
    radial-gradient(at 57% 57%, hsla(302,99%,71%,1) 0px, transparent 50%);
}

.title {
    margin-top: 10rem;
}

.description {
    font-size: 2rem;
}

.subtext {
    color: var(--subtext0);
}

.section {
    margin-top: 2rem;
    width: 30%;
}

.logo {
    height: 38px;
    margin-bottom: 2px;
}

.logo:hover > .logo-text {
    fill: var(--primary);
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .section {
        width: 100%;
    }

    .title {
        margin-top: 5rem;
    }

    .navbar-link {
        display: none;
    }

    .hamburger-menu-button {
        display: block;
    }

    .hamburger-menu-button svg, .hamburger-exit-button svg {
        height: var(--paragraph);
        width: var(--paragraph);
    }

    .logo {
        height: 82px;
    }

    .navbar {
        height: 120px;
    }

    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* multiplay all font sizes by 2 */
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    :root {
        --paragraph: 2rem;
        --line-size: 3rem;
    }

}

@media (max-width: 500px) {
    :root {
        --side-padding-width: 40px;
    }
}

@media (min-width: 1500px) {
    :root {
        --side-padding-width: 200px;
    }
}
