{% extends "base.html" %}

{% block title %}
Rues
{% endblock %}

{% block content %}
<section>
    <h2>Nombre de rue par ville</h2>
    {% if done %}
        <table>
            <tr>
                for row in cursor.execute("SELECT nom_de_ville, rue_id, FROM nom_de_rue ORDER BY nom_de_ville"):
                print(row)

            </tr>

        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
</section>
    <section>
    <h2>Nombres de vélo par ville</h2>
    {% if done %}
        <table>
            <tr>
                for row in cursor.execute("SELECT ville.nom, SUM(traffic.velo) FROM traffic, rue, ville WHERE traffic.rue_id=rue.rue_id AND rue.code_postal=ville.code_postal GROUP BY ville.nom ORDER BY SUM(traffic.velo) DESC")
                print(row)
            </tr>
        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
    </section>
{% endblock %}

