<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wow!</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='only-logo.svg') }}">
</head>
<body>
    <div class="content">
        <section>
            <h1>429!</h1>
            <p>Un peu de calme, s'il vous plaît! On limite votre accès à une page à 50 fois par heure. Il va donc falloir attendre un peu là.</p>
        </section>
    </div>
</body>
