{% extends "base.html" %}

{% block title %}About CityPace{% endblock %}

{% block content %}
<section>
    <div class="illustraded-paragraph">
        <div>
            <h2>La <span class="special">team</span> CityPace</h2>
            <p>Citypace est un projet créé par 5 étudiants de <a href="https://uclouvain.be/fr/index.html">l'UCLouvain</a> dans le cadre du cours d'LINFO1002. Le véritable but de ce projet est d'appendre à utiliser Flask, SQLite et l'html/css ce qui équivaut donc à créer un site web utilisant sur une base de données.</p>
        </div>
        <img src="../static/group-photo.webp" alt="Photo de groupe" height="300px">
    </div>
    <p>Le groupe est composé de :</p>
    <ul>
        <!-- Presentation globale -->
        <li><a href="/enzo">Enzo</a></li>
        <li><a href="/tom">Tom</a></li>
        <li><a href="/nicolas">Nicolas</a></li>
        <li><a href="/johannes">Johannes</a></li>
        <li><a href="/liam">Liam</a></li> 
        <!-- lien vers chaque pages perso -->
    </ul>
    <h2>Nos objectifs pour ce site</h2>
    <p>Nous tenons à faire de ce site un moyen facile et efficace de consulter les données proposées par Telraam (expliqué ci dessous). Nous voulons également rendre ce site authentique afin de se demarquer des autres. Ce site ce veut aussi pratique pour les études effectué depuis ces données.</p>

    <h2>D'où viennent ces données?</h2>
    <p>CityPace utilise les données des capteurs Telraam. Telraam a un réseau de capteurs sous la forme d'une caméra collée à une fenêtre qui donne sur la rue et un algorithme de vision par ordinateur pour compter le nombre de voitures, piétons, cyclistes et poids lourds. Toutes les heures, le capteur renvoie le nombre d'objets détectés et leurs vitesses agrégées à Telraam.net.</p>
    <p>CityPace n'utilise pas l'api Telraam directement mais une copie sous la forme d'un csv converti en base de données SQL.</p>
</section>
{% endblock %}

