{% extends "base.html" %}

{% block title %}
About CityPace
{% endblock %}

{% block content %}
<section>
    <h2>La team CityPace</h2>
    <h6> Citypace est un site web créer par le groupe 25 dans le cadre du premier projet de LINFO1002, cours de L'UCLouvain.</h6>
    <ul>
        <li><a href="/enzo">Enzo</a></li>
        <li><a href="/tom">Tom</a></li>
        <li><a href="/nicolas">Nicolas</a></li>
        <li><a href="/johannes">Johannes</a></li>
        <li><a href="/liam">Liam</a></li>
    </ul>
</section>
{% endblock %}

