<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "navbars.html" %}
    {% block content %}

    <div class="content">
        <h2>About</h2>
        <p>{{ HelloWorld }}</p>
        <h2>La team</h2>
        <ul>
            <li><a href="/enzo">Enzo Andrade Orletti</a></li>
            <li><a href="/tom">Tom Deglume</a></li>
            <li><a href="/nicolas">Nicolas Mertens</a></li>
            <li><a href="/johannes">Johannes Radesey</a></li>
            <li><a href="/liam">Liam Vander Becken</a></li>
        </ul>
    </div>

    {% endblock %}
</body>
</html>