<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CityPace - Le rythme de votre ville</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
</head>
<body>
    {% extends "navbars.html" %}
    {% block content %}

    <div class="content">
        <h1 class="title">Le rythme de votre ville.</h1>
        <p class="description subtext">CityPace vous apporte des statistiques sur la circulation dans votre ville. </p>
    </div>
    {% endblock %}
</body>
</html>
