<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CityPace - Le rythme de votre ville</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">CityPace</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Le rythme de votre ville.</h1>

        <h2>City list</h2>
        <table>
            <tr>
                <th>Postal code</th>
                <th>Name</th>
                <th>Population</th>
            </tr>
            {% for city in cities %}
            <tr>
                <td>{{ city[0] }}</td>
                <td>{{ city[1] }}</td>
                <td>{{ city[2] }}</td>
            </tr>
            {% endfor %}
        </table>
        <ul>
            <li><a href="/enzo">Enzo Andrade Orletti</a></li>
            <li><a href="/tom">Tom Deglume</a></li>
            <li><a href="/nicolas">Nicolas Mertens</a></li>
            <li><a href="/johannes">Johannes Radesey</a></li>
            <li><a href="/liam">Liam Vander Becken</a></li>
        </ul>
    </div>
    <footer>
        <p>© 2024 CityPace<br>Created by G25</p>
    </footer>
</body>
</html>
