{% extends "base.html" %}
{% block title %}Requêtes{% endblock %}

{% block content %}
<div class="request-container">
    <div class="request-data-container">
        {% if city_traffic_proportions %}
            <section>
                <h2>{{city_name}}</h2>

                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
                <script src="{{url_for('static', filename='js/chart.js')}}"></script>
                <script>
                    function capitalizeFirstLetter(string) {
                        return string.charAt(0).toUpperCase() + string.slice(1);
                    }

                    const ctx = document.getElementById('myChart').getContext('2d');

                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [
                                {% for key, value in city_traffic_proportions.items() %}'{{ key }}',{% endfor %}
                            ],
                            datasets: [{
                                label: 'Pourcentage du trafic',
                                data: [
                                    {% for key, value in city_traffic_proportions.items() %}{{ value }},{% endfor %}
                                ],
                                backgroundColor: [
                                    '#b4befe',
                                    '#cba6f7',
                                    '#eba0ac',
                                    '#fab387',
                                    '#f9e2af'
                                ],
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: '#cdd6f4',
                                        font: {
                                            family: "neulis-sans"
                                        }
                                    },
                                }
                            },
                            maintainAspectRatio: false,
                        }
                    });
                </script>
            </section>
        {% else %}
        <div class="center-text">
            <p><span class="subtext">Sélectionnez une ville pour commencer</span></p>
        </div>
        {% endif %}
        {% if street_traffic_proportions_by_week_day %}
            <section>
                <h2>{{street_name}}</h2>
                <div class="chart-container">
                    <canvas id="myChart1"></canvas>
                </div>
                <script>
                    const ctx1 = document.getElementById('myChart1').getContext('2d');
                    
                    new Chart(ctx1, {
                        type: 'pie',
                        data: {
                            labels: [
                                {% for key, value in street_traffic_proportions_for_period.items() %}'{{ key }}',{% endfor %}
                            ],
                            datasets: [{
                                label: 'Pourcentage du trafic',
                                data: [
                                    {% for key, value in street_traffic_proportions_for_period.items() %}{{ value }},{% endfor %}
                                ],
                                backgroundColor: [
                                    '#b4befe',
                                    '#cba6f7',
                                    '#eba0ac',
                                    '#fab387',
                                    '#f9e2af'
                                ],
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color: '#cdd6f4',
                                        font: {
                                            family: "neulis-sans"
                                        }
                                    },
                                }
                            },
                            maintainAspectRatio: false,
                        }
                    });
                </script>
                <br>
                <div class="chart-container">
                    <canvas id="myChart2"></canvas>
                </div>
                <script>
                    const ctx2 = document.getElementById('myChart2').getContext('2d');
                    const borderRadiusValue = 8;

                    new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for key, value in street_traffic_proportions_by_week_day.items() %}'{{ key }}',{% endfor %}
                            ],
                            datasets: [
                                {
                                    label: 'lourd',
                                    data: [{% for key, value in street_traffic_proportions_by_week_day.items() %}{{ value['lourd'] }},{% endfor %}],
                                    backgroundColor: '#b4befe',
                                    borderColor: '#11111b',
                                },
                                {
                                    label: 'voiture',
                                    data: [{% for key, value in street_traffic_proportions_by_week_day.items() %}{{ value['voiture'] }},{% endfor %}],
                                    backgroundColor: '#cba6f7',
                                    borderColor: '#11111b',
                                },
                                {
                                    label: 'velo',
                                    data: [{% for key, value in street_traffic_proportions_by_week_day.items() %}{{ value['velo'] }},{% endfor %}],
                                    backgroundColor: '#eba0ac',
                                    borderColor: '#11111b',
                                },
                                {
                                    label: 'pieton',
                                    data: [{% for key, value in street_traffic_proportions_by_week_day.items() %}{{ value['pieton'] }},{% endfor %}],
                                    backgroundColor: '#fab387',
                                    borderColor: '#11111b',
                                }

                            ]
                        },
                        options: {
                            indexAxis: 'y',
                            scales: {
                                x: {
                                    stacked: true,
                                    display: false,
                                    grid: {
                                        display: false
                                    },
                                    border: {
                                        display: false
                                    },
                                },
                                y: {
                                    stacked: true,
                                    // display: false
                                    grid: {
                                        display: false
                                    },
                                    border: {
                                        display: false
                                    },
                                    ticks: {
                                        color: '#cdd6f4',
                                        font: {
                                            size: 18
                                        },
                                        family: "neulis-sans"
                                    }
                                },
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    labels: {
                                        color: '#cdd6f4',
                                        font: {
                                            family: "neulis-sans"
                                        }
                                    },
                                },
                                title: {
                                    display: false
                                }
                            },
                            barPercentage: 0.3,
                            categoryPercentage: 1,
                            maintainAspectRatio: false,
                            borderRadius: borderRadiusValue,
                        }
                    });
                </script>
                
            </section>
        {% endif %}
    </div>
    <div class="request-panel">
        {% if done %}
            <div class="custom-dropdown border" data-name="ville">
                <div class="default-option-custom-dropdown">
                    <span class="default-option-custom-dropdown-txt">Sélectionnez une ville</span>
                    <svg class="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--text)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </div>
                <ul class="options">
                    {% for city in cities %}
                    <li class="option" data-value="{{ city.code_postal }}">{{ city.nom }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="custom-dropdown border disabled-dropdown" data-name="rue">
                <div class="default-option-custom-dropdown">
                    <span class="default-option-custom-dropdown-txt">Sélectionnez une rue</span>
                    <svg class="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--text)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </div>
                <ul class="options">
                    {% for street in streets %}
                    <li class="option" data-value="{{ street.rue_id }}">{{ street.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flatpickr">
                <input type="text" id="start-date" name="search-start" class="disabled date-picker"/>
            </div>
            
            <a href="/map{{location}}" class="button-primary disabled" id="see-on-map-button">Voir sur la carte
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 1rem 1rem" fill="none" stroke="var(--crust)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
            </a>
            
            
            <script>
                flatpickr("#start-date", {
                "mode": "range",
                "inline": "true",
                "dateFormat": "Z", // ISO time format
                {% if street_time_span %}
                "minDate": "{{ street_time_span['start_date'] }}",
                "maxDate": "{{ street_time_span['end_date'] }}",
                {% endif %}
                {% if selected_time_span %}
                "defaultDate": ["{{ selected_time_span['start_date'] }}", "{{ selected_time_span['end_date'] }}"],
                {% endif %}
                "onChange": function(selectedDates, dateStr, instance) {
                    {% if selected_street %}
                    if (dateStr.includes(" to ")) {
                        dateStr = dateStr.replace(" to ", "/");
                        window.location.href = '/request/{{ selected_city }}/{{ selected_street }}/' + dateStr;
                    } 
                    {% endif %}
                }
                });
            </script>
            <script>
                const allDropdowns = document.querySelectorAll('.custom-dropdown');
                
                function initializeDropdown(customDropdown, inputName) {
                        const defaultOption = customDropdown.querySelector('.default-option-custom-dropdown');
                        const options = customDropdown.querySelectorAll('.option');
                        const defaultOptionText = customDropdown.querySelector('.default-option-custom-dropdown-txt');

                        // listen for click events on the dropdown
                        defaultOption.addEventListener('click', () => {
                            // open if the dropdown is not disabled
                            if (!customDropdown.classList.contains('disabled-dropdown')) {
                                customDropdown.classList.toggle('active');
                            }
                            // remove the active class from all other dropdowns
                            allDropdowns.forEach(dropdown => {
                                if (dropdown !== customDropdown) {
                                    dropdown.classList.remove('active');
                                }
                            });
                        });

                        options.forEach(option => {
                            // set the default option text to the selected option
                            if (option.getAttribute('data-value') == '{{ selected_city }}') {
                                defaultOptionText.textContent = option.textContent;
                                // remove dropdown-disabled class from the street dropdown
                                document.querySelector('.custom-dropdown[data-name="rue"]').classList.remove('disabled-dropdown');
                            }
                            if (option.getAttribute('data-value') == '{{ selected_street }}') {
                                defaultOptionText.textContent = option.textContent;
                                document.querySelector('#see-on-map-button').classList.remove('disabled');
                                document.querySelector('#start-date').classList.remove('disabled');
                            }

                            // listen for click events on the options
                            option.addEventListener('click', () => {
                                let selectedOption = option.textContent;
                                let value = option.getAttribute('data-value');
                                
                                if (inputName === 'ville') {
                                    window.location.href = '/request/' + value;
                                } else if (inputName === 'rue') {
                                    window.location.href = '/request/{{ selected_city }}/' + value;
                                }
                                
                                // close the dropdown
                                customDropdown.classList.remove('active');
                            });
                            window.addEventListener('click', e => {
                                if (!customDropdown.contains(e.target)) {
                                    customDropdown.classList.remove('active');
                                }
                            });
                        });
                    }
                    allDropdowns.forEach(dropdown => {
                        initializeDropdown(dropdown, dropdown.getAttribute('data-name'));
                    });
            </script>
            
        {% else %}
            <div class="db-error">
                La base de données est en train de s'initialiser. Veuillez revenir dans quelques instants.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
