{% extends "base.html" %}
{% block title %}
CityPace - Le rythme de votre ville
{% endblock %}

{% block content %}

<section class="display-title">
    <div>
        <h1 class="title">Le <span class="special">rythme</span> de votre ville.</h1>
        <p class="description">CityPace vous apporte des statistiques sur la circulation dans votre ville. </p>
    </div>
</section>
<section class="section-city">
    <h2>Demo : Liste des villes</h2>
    <p>
        Voici une petite demo de notre base de données :) . Vous pouvez ajouter ou supprimer des villes.
    </p>
    <table>
        <tr>
            <th>Code postal</th>
            <th>Nom</th>
            <th>Population</th>
            <th></th>
        </tr>
        {% for city in cities %}
        <tr>
            <td>{{ city.code_postal }}</td>
            <td>{{ city.nom }}</td>
            <td>{{ city.population }}</td>
            <td><a href="{{ url_for("city.city_delete", postal_code=city.code_postal) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Ajouter une ville</h2>
    <form method="post" action="{{ url_for("city.city_create") }}">
        <div>
            <label for="postal_code">Code postal : </label>
            <input name="postal_code" id="postal_code" type="text" />
        </div>
        <div>
            <label for="name">Nom : </label>
            <input name="name" id="name" type="text" />
        </div>
        <div>
            <label for="population">Population : </label>
            <input name="population" id="population" type="text" />
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>
</section>
    

{% endblock %}
