{% extends "base.html" %}
{% block title %}
CityPace - Le rythme de votre ville
{% endblock %}

{% block content %}

<section class="display-title">
    <div>
        <h1 class="title">Le <span class="special">Rythme</span> de votre ville.</h1>
        <p class="description">Quelle activité y a t'il autour de chez vous ? </p>
    </div>
</section>
<section class="section-city">
    <h2>Demo : Liste des villes</h2>
    {% if done %}
        <table>
            <tr>
                <th>Code postal</th>
                <th>Nom</th>
                <th>Population</th>
            </tr>
            {% for city in cities %}
            <tr>
                <td>{{ city.code_postal }}</td>
                <td>{{ city.nom }}</td>
                <td>{{ city.population }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
</section>
    

{% endblock %}
