<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johannes</title>
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
    <link rel="stylesheet" href="../static/special.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='special.css') }}">
</head>
<body>
    <div class="content">
        <img src="../static/johannes.png" alt="Dessin de moi" height="200rem">
        <div>
            <h1>Salut!</h1>
            <p>Je m'appelle Edvard (Johannes officiellement). J'aime le bon design et l'open source, deux choses que l'on voit rarement ensemble malheureusement.</p>
            <p>Sinon, comment se passe votre journée?</p>
            <a href="/">Sortie de secours →</a>
        </div>
        <!-- il est magnifique le code, non? -->
    </div>
</body>
</html>