<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johannes</title>
    <link rel="stylesheet" href="https://use.typekit.net/khf5jdz.css">
    <link rel="stylesheet" href="../static/special.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='special.css') }}">
</head>
<body>
    <div class="content">
        <img src="../static/me.png" alt="" height="200rem">
        <div>
            <h1>Johannes Radesey</h1>
            <p>Je suis développeur et graphiste</p>
            <a href="/">← Retour à mobility</a>
        </div>
    </div>
</body>
</html>