{% extends "base.html" %}
{% block title %}Carte{% endblock %}
{% block body_data %}data-disable-scroll-script="true"{% endblock %}

{% block content %}
{% if done %}

<div id="map"></div>
<script>
    var icon = L.icon({
        iconUrl: '/static/marker-icon.svg',
        iconSize: [24, 32],
        iconAnchor: [12, 32],
        popupAnchor: [0, -32]
    });
    var map = L.map('map').setView([{{lat}}, {{lon}}], {{zoom}});
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    // plugins to (maybe) use :
    // Leaflet.js Editable Polylines plugin
    // Leaflet grayscale master
    // Leaflet utilities
    // Leaflet Ajax??
    // Leaflet terminator
    // Leaflet touch helper
    
    {% for marker in mapdata %}
    L.marker([{{marker.polyline}}], {icon: icon, title: "{{marker.nom}}"}).addTo(map).bindPopup("{{marker.nom}}, {{marker.code_postal}}<br>{{marker.city_name}}");
    {% endfor %}

</script>
</section>
{% else %}
<section>
    <div class="db-error">
        La base de données est en train de s'initialiser. Veuillez revenir dans quelques instants.
    </div>

{% endif %}
{% endblock %}