{% extends "base.html" %}
{% block title %}Carte{% endblock %}
{% block body_data %}data-disable-scroll-script="true"{% endblock %}

{% block content %}
{% if done %}

<div id="map"></div>
<script>
    var icon = L.icon({
        iconUrl: '/static/marker-icon.svg',
        iconSize: [24, 32],
        iconAnchor: [12, 32],
        popupAnchor: [0, -32]
    });
    var unknown = L.icon({
        iconUrl: '/static/unknown.png',
        iconSize: [24, 32],
        iconAnchor: [12, 32],
        popupAnchor: [0, -32]
    });

    var map = L.map('map').setView([{{lat}}, {{lon}}], {{zoom}});
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    // plugins to (maybe) use :
    // Leaflet.js Editable Polylines plugin
    // Leaflet grayscale master
    // Leaflet utilities
    // Leaflet Ajax??
    // Leaflet terminator
    // Leaflet touch helper
    
    {% for marker in mapdata %}
    var popupContent = '{{marker.nom}}, {{marker.code_postal}}<br>{{marker.city_name}}<br><br><a href="/request/{{marker.code_postal}}/{{marker.rue_id}}" class="button-primary">Statistiques</a>';
    L.marker([{{marker.latitude}},{{marker.longitude}}], {icon: icon, title: "{{marker.nom}}"}).addTo(map).bindPopup(popupContent).on('click', function(e) {
        // change l'url sans recharger la page pour que le lien puisse être partagé
        window.history.pushState(null, null, "/map/{{marker.latitude}}/{{marker.longitude}}/18");
        // animation qui centre la carte sur le marker
        // map.flyTo([{{ marker.latitude }}, {{ marker.longitude }}], 17, {
        //     animate: true,
        //     duration: 1.5
        // });
    });
        
    {% endfor %}
    L.marker([-83.7921,105.6335], {icon: unknown, title: "Unknown"}).addTo(map).bindPopup("?")

</script>
</section>
{% else %}
<section>
    <div class="db-error">
        La base de données est en train de s'initialiser. Veuillez revenir dans quelques instants.
    </div>

{% endif %}
{% endblock %}