{% extends "base.html" %}

{% block title %}
Statistiques
{% endblock %}

{% block content %}
    <section>
    <h2>Nombre d'entrées par tableau</h2>
    {% if done %}
        <table>
            <tr>
                <th>Nom de la table</th>
                <th>Nombre d'entrées</th>
            </tr>
            {% for table in entry_list %}
            <tr>
                <td>{{ table.table_name }}</td>
                <td>{{ table.number_of_entries }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
    </section>
    <section>
    <h2>Nombre de rues par ville</h2>
    {% if done %}
        <table>
            <tr>
                <th>Ville</th>
                <th>Nombre de rues</th>
            </tr>
            {% for value in number_of_streets_by_city %}
            <tr>
                <td>{{ value.city_name }}</td>
                <td>{{ value.number_of_streets }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
    </section>
    <section>
    <h2>Villes les plus cyclables</h2>
    {% if done %}
        <table>
            <tr>
                <th>Ville</th>
                <th>Nombre de cyclistes</th>
            </tr>
            {% for value in most_cyclable_cities %}
            <tr>
                <td>{{ value.city_name }}</td>
                <td>{{ value.number_of_cyclists }}</td>
            </tr>
            {% endfor %}
            <tr></tr>
        </table>
    {% else %}
        <div class="db-error">
            La base de données est en train de s'initialiser. Veuillez revenir plus tard.
        </div>
    {% endif %}
    </section>
{% endblock %}