<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tom Deglume </title>  
        <meta charset='utf-8'>
        <link rel="stylesheet" href="cours.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="content">
            <div>
                <h2>Bonjour!</h3>
            </div>
        </div>
        <p><h4>Salut, je m'appelle Tom Deglume.</h4></p>
        <p><h4>J'espere que vous allez bien !</h4></p>
        <p><h4>Bienvenue sur mon site !</h4></p>

        <img src="https://i1.sndcdn.com/artworks-Nd0uLkwUwb4P1zmh-6OgXVg-t500x500.jpg">
        <footer>
            <p><br><h6> Group 25</h6></p>
        </footer>        
    </body>
</html>
